@charset "utf-8";

/*リセットCSS（sanitize.css）の読み込み
---------------------------------------------------------------------------*/
@import url("https://unpkg.com/sanitize.css");

/*Google Fontsの読み込み
---------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

h1 {
  font-size: 28px;
  background-color: #000000;
  font-weight: bold;
    color: #ffffff
}

h2 {
  font-size: 20px;
    color: #ff7800
}

h3 {
  font-size: 16px;
    color: #ff7800
}

.btn {
  border-radius: 5px;
  background-color: lightblue;
  padding: 10px;
  text-decoration: none;
  color: white;
}
/*color指定: rgb(a,b,c,), rgba(a,b,c,o). o: opacity. */


.nav-list a:hover {
    color: #ff0000;
}

.c-btn.reverse:hover {
  background: #fff;
  color: #ff701e;
}

a:link {
3
    color: #0033ff; /* 未訪問のリンク色 */
4
    text-decoration: none;  /* アンダーライン無し */
5
}

a:visited {
3
    color: #9900ff; /* 訪問済みのリンク色 */
4
    text-decoration: none; /* アンダーライン無し */
5
}


