@charset "utf-8";

/*リセットCSS（sanitize.css）の読み込み
---------------------------------------------------------------------------*/
@import url("https://unpkg.com/sanitize.css");

/*Google Fontsの読み込み
---------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
	font-family: 'M PLUS Rounded 1c', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	background: #fff;	/*背景色*/
	color: #777;		/*文字色*/
	line-height: 2;		/*行間*/
}

h1 {
  font-size: 28px;
  background-color: lightblue;
  font-weight: bold;
	margin: 0;
    color: #000000
}

h2 {
  font-size: 20px;
	margin: 0;
    color: blue
}

h3 {
  font-size: 16px;
	margin: 0;
    color: blue
}

.btn {
  border-radius: 5px;
  background-color: lightblue;
  padding: 10px;
  text-decoration: none;
  color: white;
}
/*color指定: rgb(a,b,c,), rgba(a,b,c,o). o: opacity. */


.nav-list a:hover {
    color: #ff0000;
}

.btn.reverse:hover {
  background: #fff;
  color: #ff701e;
}

a:link {
    color: #0033ff; /* 未訪問のリンク色 */
    text-decoration: none;  /* アンダーライン無し */
}

a:visited {
    color: #9900ff; /* 訪問済みのリンク色 */
    text-decoration: none; /* アンダーライン無し */
}

footer small {font-size: 100%;}
footer {
	font-size: 0.7rem;		/*文字サイズ。bodyのfont-sizeの70%です。*/
	background: var(--primary-color);	/*背景色。css冒頭で指定しているテーマカラーを読み込みます*/
	color: #fff;	/*文字色*/
	text-align: center;		/*内容をセンタリング*/
	padding: 20px;			/*ボックス内の余白*/
}

